<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-top">
                <div class="logo-download">
                    <a href="index.html" class="logo"><img src="img/logo.svg" alt=""></a>
                    <ul class="download">
                        <li><a href="javasceipt:void(0)"><img src="img/download-img1.png" alt=""></a></li>
                        <li><a href="javasceipt:void(0)"><img src="img/download-img2.png" alt=""></a></li>
                    </ul>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Для партнеров</a>
                            <ul>
                                <li><a href="medicine-internal.html">Медицина</a></li>
                                <li><a href="veterinary-internal">Ветеренария</a></li>
                                <li><a href="about.html">О нас</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="for-patients.html">Для пациентов</a>
                            <ul>
                                <li><a href="services.html">Услуги</a></li>
                                <li><a href="patients-developers.html">Разработчики технологии</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="news.html">Новости</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                </nav>
                <div class="tel-content">
                    <a class="tel" href="tel:+7 (812) 454-69-54">+7 (812) 454-69-54</a>
                    <a href="javascript:void(0)" class="contact-us call_js"><i class="icon-phone"></i><span>Связаться с нами</span></a>
                </div>
            </div>
            <div class="footer-center">
                <ul class="social">
                    <li><a href="javascript:(0)" target="_blanc"><i class="icon-instagram"></i></a></li>
                    <li><a href="javascript:(0)" target="_blanc"><i class="icon-facebook-1"></i></a></li>
                    <li><a href="javascript:(0)" target="_blanc"><i class="icon-whatsapp"></i></a></li>
                </ul>
                <ul class="address">
                    <li>
                        <strong>Юр. адрес:</strong>
                        <p>г. Ломоносов Дворцовый проспект 9а</p>
                    </li>
                    <li>
                        <strong>Прием биоматериалов осуществляется по адресу: </strong>
                        <p>г. Санкт-Петербург, ул. Академика Павлова 9А</p>
                    </li>
                </ul>
                <a class="mail" href="mail:info@mymicrobiome.ru"><i class="icon-contact"></i>info@mymicrobiome.ru</a>
            </div>
            <p class="company">© Microbiome Limited Liability Company, 2018-2020</p>
        </div>
    </div>
</footer>