<header class="header">
    <div class="container">
        <div class="header-content">
            <a href="index.html" class="logo"><img src="img/logo.png" alt=""></a>
            <div class="menu">
                <nav>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Для партнеров</a>
                            <ul>
                                <li><a href="javascript:void(0)">Медицина</a></li>
                                <li><a href="javascript:void(0)">Ветеренария</a></li>
                                <li><a href="javascript:void(0)">О нас</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Для пациентов</a>
                            <ul>
                                <li><a href="javascript:void(0)">Технологии</a></li>
                                <li><a href="javascript:void(0)">Команда</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="javascript:void(0)">Новости</a></li>
                        <li><a href="javascript:void(0)">Контакты</a></li>
                    </ul>
                </nav>
                <a href="javascript:void(0)" class="contact-us"><i class="icon-phone"></i><span>Связаться с нами</span></a>
                <span class="open-menu"><span></span></span>
            </div>
        </div>
    </div>
</header>