
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-prev:before { content: '\e801'; } /* '' */
.icon-arrow:before { content: '\e802'; } /* '' */
.icon-next:before { content: '\e803'; } /* '' */
.icon-facebook-1:before { content: '\e804'; } /* '' */
.icon-link:before { content: '\e805'; } /* '' */
.icon-contact:before { content: '\e806'; } /* '' */
.icon-email:before { content: '\e807'; } /* '' */
.icon-pin:before { content: '\e808'; } /* '' */
.icon-instagram:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-phone-1:before { content: '\e80b'; } /* '' */
.icon-whatsapp:before { content: '\e80c'; } /* '' */
.icon-time:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-face:before { content: '\e80f'; } /* '' */
.icon-insta:before { content: '\e810'; } /* '' */
.icon-wiber:before { content: '\e811'; } /* '' */
.icon-play-button:before { content: '\e812'; } /* '' */